#spacer-standings { width: 358px; height: 30px; display: block; background: url('../nav/bg-1-15.jpg') repeat; position: relative; float: right; overflow: hidden; margin-top: 1px; margin-bottom: 1px; color: #fff; font-family: 'Verdana'; font-size: 8pt; margin-left: 1px; font-weight: bold; text-align: center; line-height: 30px; }

.standings-content { width: 356px; float: right; height: 140px; display: block; position: relative; margin-bottom: 0px; margin-left: 1px; background: #214775; border: 1px solid #1a3b5b;  }

#spacer-leaders { width: 359px; height: 30px; display: block; background: url('../nav/bg-1-15.jpg') repeat; position: relative; float: right; overflow: hidden; margin-top: 1px; margin-bottom: 1px; color: #fff; font-family: 'Verdana'; font-size: 8pt; margin-left: 1px; font-weight: bold; text-align: center; line-height: 30px; }

.leaders-content { width: 357px; float: right; height: 140px; display: block; position: relative; margin-bottom: 0px; margin-left: 1px; background: #214775; border: 1px solid #1a3b5b;  }

#spacer-results { width: 718px; height: 30px; display: block; background: url('../nav/bg-1-15.jpg') repeat; position: relative; float: right; overflow: hidden; margin-top: 1px; margin-bottom: 1px; color: #fff; font-family: 'Verdana'; font-size: 8pt; font-weight: bold; text-align: center; line-height: 30px;}

.results-content { width: 716px; float: right; height: 110px; display: block; position: relative; margin-bottom: 2px; overflow: none; }

.results-box:first-child { margin-left: -2px; }

.results-box:last-child { width: 176px; margin-right: 0px; }

.results-box { width: 177px; height: 110px; display: inline-block; background: #e5e5e5; border: 1px solid #c5c5c5; float: left; padding: 0; margin-right: 1px; overflow: none; }

.results-box img { width: 80px; height: 40px; display: block; position: relative; }

.results-left { float: left; width: 80px; height: 100px; margin-top: 5px; margin-left: 5px; }

.results-left span { text-align: center; display: block; width: 80px; font-size: 7pt; font-family: 'Verdana'; line-height: 10pt; font-weight: bold; }

.results-scorebox { width: 70px; height: 75px; display: block; float: right; position: relative; font-size: 9pt; font-family: 'Verdana'; line-height: 10pt; right: 5px; top: 2px; }

.results-scorebox td { background-color: #c9c9c9; width: 20px; height: 16px; text-align: center; font-weight: bold; line-height: 16px; }

td.blue { background-color: #0a2249; color: #fff; font-size: 8pt; }
td.final { font-size: 6pt; background-color: #0a2249; color: #fff; }
td.blank { background: none;}

p.results-date { color: #000; position: relative; top: 3px; right: 10px; font-size: 6pt; font-family: 'Verdana'; float: right; display: block; height: 12px; line-height: 12px; }

p.results-youtube {}

p.results-details { position: relative; width: 80px; text-align: center; line-height: 16px; font-size: 6pt; height: 16px; font-family: 'Verdana'; bottom: 0px; right: 4px; display: block; float: right; background-color: #214775; color: #fff; }

#content-spacer { width: 719px; position: relative; float: right; display: block; display: none; overflow: hidden; }

#schedule { width: 0px; float: left; height: 100%; display: block; position: relative; margin-bottom: 0px; margin-left: 1px; background: #e5e5e5; border: 1px solid #c5c5c5; overflow: hidden; }

.schedule-page-top { width: 716px; height: 30px; background: none; line-height: 30px; display: block; position: relative; overflow: none; }

.schedule-page-month { width: 694px; height: 20px; background: #214775; border: 1px solid #1a3b5b; color: #fff; line-height: 20px; display: inline-block; position: relative; overflow: none; font-family: 'Verdana'; font-size: 8pt; font-weight: bold; left: 10px; margin-bottom: 20px; }

.schedule-page-month p { display: block; margin-left: 20px; position: relative; }

.schedule-page-top p { display: inline-block; position: relative; left: 6px; font-family: 'Verdana'; font-size: 8pt; font-weight: bold; }

#schedule-content { width: 716px; position: relative; display: block; }

.last { margin-bottom: 3px; }

.schedule-page-box { float: left; display: block; width: 351px; height: 142px; position: relative; background: none; margin-left: 4px; margin-top: 4px; }

.schedule-page-box-content { max-width: 200px; height: 60px; display: inline-block; position: relative; left: 80px; top: 20px; }

.schedule-page-box-content-below { max-width: 200px; height: 60px; display: inline-block; position: relative; left: 80px; top: 0px; }

.schedule-page-box-content img { display: inline-block; position: relative; }

.schedule-page-box-content span { width: 20px; text-align: center; display: inline-block; position: relative; top: -12px; font-family: 'Verdana'; font-size: 8pt; font-weight: bold; }

.schedule-page-box-away { width: 80px; height: 12px; text-align: center; display: inline-block; position: relative; font-family: 'Verdana'; font-size: 5pt; font-weight: bold; background: #0a2249; color: #fff; line-height: 12px; top: 2px; }

.schedule-page-box-home { width: 80px; height: 12px; text-align: center; display: inline-block; position: relative; font-family: 'Verdana'; font-size: 5pt; font-weight: bold; background: #0a2249; color: #fff; line-height: 12px; left: 25px; top: 2px; }

.schedule-page-box-date { position: relative; top: 0; right: 50px; float: right; font-family: 'Verdana'; font-size: 6pt; font-weight: bold; display: block; text-align: right; line-height: 8pt; }

.schedule-page-box-details { position: relative; width: 351px; top: -30px; font-family: 'Verdana'; font-size: 7pt; font-weight: bold; display: block; text-align: center; line-height: 10pt; }

.schedule-page-box-on { color: green; }

.schedule-page-box-ppd { color: red; }