    a:link { text-decoration: none; color: #0a2249; }
    a:visited { text-decoration: none; color: #0a2249; }
    a:hovered { text-decoration: none; color: #0a2249; }
    
    #slider-spacer { width: 718px; margin: 0; position: relative; float: right; }

    #slider { width: 100%; height: 420px; position: relative; overflow: hidden;}
    
    .slides { width: 400%; height: 100%; position: relative; }
    
    /* Slider Animation */
    
    .slides {       -webkit-animation: slide 30s infinite; 
                    -moz-animation: slide 30s infinite; 
                    animation: slide 30s infinite;
            }
    
    .slide-img { width: 100%; height: 100%; }
    
    /* One line below may have to be removed for small or unscaled images to work effeciently */
    
    /* .slide-img img { width: 100%; height: 100%; } */
    
     .slide-img img { width: 900px; height:inherit; } 
    
    .slide-spacer { width: 25%; height: 420px; float: left; position: relative; z-index: 1; overflow: hidden; background-color: #0a2249; }
    
    /* Content Shift */
    
    .slide-fr { width: inherit; height: 80px; display: block; position: absolute; bottom: 0px; left: 0px; text-decoration: none; }
    
    .slide-fr {     -webkit-animation: shift 7.5s infinite;
                    -moz-animation: shift 7.5s infinite;
                    animation: shift 7.5s infinite; 
                }
    
    .slide-fr:hover .slide-arrow { background-color: #214775; border: 1px solid #1a3b5b; cursor: pointer; }
    
    .slide-cont { width: 398px; height: 80px; background-color: #ffffff; display: block; position: absolute; bottom: 20px; left: 20px; float: left; overflow: hidden; border: 1px solid #e3e3e3; }
    
    .slide-cont h1 { font-weight: bold; font-family: 'Verdana'; font-size: 10pt; color: #0a2249; line-height: 12pt; margin-top: 7px; margin-left: 7px; }
    
    .slide-cont h2 { font-family: 'Verdana'; font-size: 8pt; color: #0a2249; line-height: 10pt; margin-top: 3px; margin-left: 10px; margin-right: 7px; }
    
    .slide-arrow { width: 18px; height: 80px; background-color: #ef5252; display: block; position: absolute; bottom: 20px; left: 425px; line-height: 80px; text-align: center; color: #fff; font-size: 10px; float: left; overflow: hidden; border: 1px solid #ef4343; }
    
    .slide-arrow-tri { width: 0; height: 0; border-top: 6px solid transparent; border-left: 6px solid #ffffff; border-bottom: 6px solid transparent; position: absolute; top: 32px; left: 7px; }
    
    .blinker { display: block; width: 140px; height: 50px; position: absolute; top: 20px; right: 20px; z-index: 99; line-height: 50px; }
    
    .blinker li { display: inline-block; width: 18px; height: 28px; background-color: #fff; position: relative; margin-right: 6px; border: 1px solid #e3e3e3; }
    
    .blinker ul { overflow: visible; }
    
    .blinker > ul{ list-style:none; }

    .blinker ul li { list-style: none; }
    
    #blink-1 { width: 20px; height: 30px; background-color: #fff; }
    
    #blink-1    {   -webkit-animation: blink-1 30s infinite;
                    -moz-animation: blink-1 30s infinite;
                    animation: blink-1 30s infinite;
                }
    
    #blink-2 { width: 20px; height: 30px; background-color: #fff; }
    
    #blink-2    {   -webkit-animation: blink-2 30s infinite;
                    -moz-animation: blink-2 30s infinite;
                    animation: blink-2 30s infinite;
                }
    
    #blink-3 { width: 20px; height: 30px; background-color: #fff; }
    
    #blink-3    {   -webkit-animation: blink-3 30s infinite;
                    -moz-animation: blink-3 30s infinite;
                    animation: blink-3 30s infinite;
                }
    
    #blink-4 { width: 20px; height: 30px; background-color: #fff; }
    
    #blink-4    {   -webkit-animation: blink-4 30s infinite;
                    -moz-animation: blink-4 30s infinite;
                    animation: blink-4 30s infinite;
                }
    
    .turn {}
    
    /* Keyframes */
    
    /* Slider Key */

    @-webkit-keyframes slide {
        0%,100% { margin-left:0%; }
        21% { margin-left: 0%; }
        25% { margin-left: -100%; }
        46% { margin-left: -100%; }
        50% { margin-left: -200%; }
        71% { margin-left: -200%; }
        75% { margin-left: -300%; }
        96% { margin-left: -300%; }
    }
    
    @-moz-keyframes slide {
        0%,100% { margin-left:0%; }
        21% { margin-left:0%; }
        25% { margin-left:-100%; }
        46% { margin-left:-100%; }
        50% { margin-left:-200%; }
        71% { margin-left:-200%; }
        75% { margin-left:-300%; }
        96% { margin-left:-300%; }
    }
    
    @keyframes slide {
        0%,100% { margin-left:0%; }
        21% { margin-left:0%; }
        25% { margin-left:-100%; }
        46% { margin-left:-100%; }
        50% { margin-left:-200%; }
        71% { margin-left:-200%; }
        75% { margin-left:-300%; }
        96% { margin-left:-300%; }
    } 
    
    /* Blinker Key */
    
    @-webkit-keyframes blink-1 {
        0%,100% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
        2% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        22% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        24% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
    }
     @-moz-keyframes blink-1 {
        0%,100% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
        2% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        22% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        24% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
    }
     @keyframes blink-1 {
        0%,100% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
        2% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        23% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        25% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
    }
    
    @-webkit-keyframes blink-2 {
        25%,100% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
        27% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        47% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        49% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
    }
     @-moz-keyframes blink-2 {
        25%,100% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
        27% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        47% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        49% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
    }
     @keyframes blink-2 {
        25%,100% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
        27% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        47% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        49% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
    }
    
    @-webkit-keyframes blink-3 {
        50%,100% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
        52% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        72% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        74% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
    }
    @-moz-keyframes blink-3 {
        50%,100% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
        52% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        72% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        74% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
    }
    @keyframes blink-3 {
        50%,100% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
        52% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        72% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        74% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
    }
    
    @-webkit-keyframes blink-4 {
        75%,100% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
        77% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        97% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        99% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
    }
    @-moz-keyframes blink-4 {
        75%,100% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
        77% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        97% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        99% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
    }
    @keyframes blink-4 {
        75%,100% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
        77% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        97% { transform: scale(1.2); background-color: #ef5252; border: 1px solid #ef4343; }
        99% { transform: scale(1); background-color: #fff; border: 1px solid #e3e3e3; }
    }
    
/* SLIDE CONTENT SHIFT (WORK IN PROGRESS) */

    @-webkit-keyframes shift{
        0% { left: -500px; }
        10% { left: 0px; }
        15% { left: 0px; }
        30% { left: 0px; }
        40% { left: 0px; }
        50% { left: 0px; }
        60% { left: 0px; }
        70% { left: 0px; }
        80% { left: -500px; }
        90% { left: -500px; }
        100% { left: -500px; }
    }
    @-moz-keyframes shift{
        0% { left: -500px; }
        10% { left: 0px; }
        15% { left: 0px; }
        30% { left: 0px; }
        40% { left: 0px; }
        50% { left: 0px; }
        60% { left: 0px; }
        70% { left: 0px; }
        80% { left: -500px; }
        90% { left: -500px; }
        100% { left: -500px; }
    }
    @keyframes shift{
        0% { left: -500px; }
        10% { left: 0px; }
        15% { left: 0px; }
        30% { left: 0px; }
        40% { left: 0px; }
        50% { left: 0px; }
        60% { left: 0px; }
        70% { left: 0px; }
        80% { left: -500px; }
        90% { left: -500px; }
        100% { left: -500px; }
    }
    
    /* MEDIA SCREENS */
    
    @media only screen and (max-width: 560px) {
        
        .blinker { display: block; width: 116px; height: 50px; position: absolute; top: 10px; right: 10px; z-index: 99; line-height: 50px; }
        
        .slide-img { height: 420px; width: 600px; }
        
        .slide-img img { height: 420px; width: 600px; }
        
        .slide-cont { width: 300px; height: 60px; background-color: #ffffff; display: block; position: absolute; bottom: 10px; left: 10px; float: left; overflow: hidden; }
        
        .slide-cont h1 { font-weight: bold; font-family: 'Verdana'; font-size: 7pt; color: #0a2249; line-height: 8pt; margin-top: 5px; margin-left: 5px; }
    
        .slide-cont h2 { font-family: 'Verdana'; font-size: 5pt; color: #0a2249; line-height: 7pt; margin-top: 1px; margin-left: 5px; margin-right: 5px; }
    
        .slide-arrow { width: 20px; height: 60px; background-color: #ef5252; display: block; position: absolute; bottom: 10px; left: 315px; line-height: 60px; text-align: center; color: #fff; font-size: 10px; float: left; overflow: hidden; }
    
        .slide-arrow-tri { width: 0; height: 0; border-top: 3px solid transparent; border-left: 3px solid #ffffff; border-bottom: 3px solid transparent; position: absolute; top: 28px; left: 9px; }
        
    }
